# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/
/restaurants/migrations/0001_initial.py
/restaurants/migrations/0002_table_booking.py
/restaurants/migrations/0003_user.py
